<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../Stylesheets/sign_in.css">
</head>

<body>
   
    <div class="container">
            <!-- Left side -->
            <div class="col_mid_6_left_side">
                <img id="background_cartoon" src="../Assets/Image/sign_up_image.png" alt="sign_up_image"/>
                <img id="background" src="../Assets/Image/sign-in background.png" alt="sign_in_background"/>
                <img id="logo" src="../Assets/Icon/Logo.png" alt="WeConnect Logo"/>
            </div>
            <!-- Right side -->
            <div class="col_mid_6_right_side">
                <h1>Admin Sign Up</h1>

                <!-- <form method="post" action = "/static/signin/submit"> -->
                <form method="post" action="/static/signin/submit" onsubmit="return checkPasswords()">
                    <div class="input_item">

                        <div class="input_hor_box">
                            <!-- input first name -->
                            <input class="input_half" type="text" name="first_name" placeholder="First Name"/>

                            <!-- input last name -->
                            <input class="input_half" type="text" name="last_name" placeholder="Last Name"/>
                        </div>

                        <!-- input email address -->
                        <input class="input_hor_box input_full" id="email" type="email" name="email" placeholder="Email"/>

                        <div class="input_hor_box">
                            <!-- input password -->
                            <input class="input_half" type="password" name="password" placeholder="Password" pattern=".{8,}" title="At least 8 characters" required/>
                            <span id="password-error" style="color: red;"></span>

                            <!-- input confirm password -->
                            <input class="input_half" type="password" name="confirm_password" placeholder="Confirm password"/>
                        </div>

                        <!-- select group -->
                        <div id="group_options">
                            <label for="group">Find your group:</label>
                            <select id="select_group" onchange="updateSelectedGroup()"></select>
                        </div>
                        
                        <!-- A hidden form field that stores the value of an option -->
                        <input type="hidden" name="selected_group" id="selected_group" value="">

                        <!-- redirection to register page -->
                        <div class="register">
                            <div class="normal_text">Can not find your group?</div>
                            <a href="registerhere" target="_self">Register Here</a>
                        </div>
                        
                        <script>
                            function updateSelectedGroup() {
                                var selectedGroup = document.getElementById("select_group").value;
                                document.getElementById("selected_group").value = selectedGroup;
                            }
                            
                            document.addEventListener('DOMContentLoaded', function() {
                                // get group data from back end
                                fetch('/static/signin/getGroups') 
                                    .then(response => response.json())
                                    .then(data => {
                                        const selectGroup = document.getElementById('select_group');
                        
                                        // loop each data to add them in dropdown box
                                        data.forEach(group => {
                                            const option = document.createElement('option');
                                            option.textContent = group;
                                            console.log('sf', option);
                                            selectGroup.appendChild(option);
                                        });
                                    })
                                    .catch(error => console.error('Error fetching data:', error));
                            });

                            function checkPasswords() {
                                var password = document.getElementsByName('password')[0].value;
                                var confirmPassword = document.getElementsByName('confirm_password')[0].value;
                        
                                if (password !== confirmPassword) {
                                    alert("Passwords do not match. Please try again.");
                                    return false; 
                                }
                                if (password.length < 8) {
                                    document.getElementById('password-error').innerText = 'Password should be at least 8 characters.';
                                    return false;
                                } else {
                                    document.getElementById('password-error').innerText = '';
                                }
                        
                                return true; 
                            }
                        </script>
                        
                        <script>
                            function getUrlParameter(name) {
                                name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                                var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                                var results = regex.exec(location.search);
                                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
                            }
                    
                            document.addEventListener('DOMContentLoaded', function() {
                                var error = getUrlParameter('error');
                                if (error) {
                                    alert(error);
                                }
                            });
                        </script>
                    </div>

                    <!-- sign up -->
                    <a href=" " target="_self" class="btn_sign_up">
                        <button type="submit">
                            Sign Up 
                        </button>
                    </a>
                </form>

                <!-- redirection to login page -->
                <div class="login">
                    <span class="normal_text">Already a member?</span>
                    <a href="login" target="_self">Log in here</ a>                   
                </div>

            </div>
            <img id="contact_us_icon" src="../Assets/Icon/Contact_us.png" alt="Contact us icon">
        </div>
</body>
</html>