/* Admin sign in Page css*/
/* Import font */
@font-face {
    font-family: "Roboto-Medium";
    src: url('../Assets/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../Assets/Roboto/Roboto-Regular.ttf');
}

/* Text */
h1{
    font-family: "Roboto-Medium";
    font-size: 32px;
}

.normal_text{
    font-family: "Roboto-Regular";
    color: #585151;
    font-size: 20px;
    margin-right: 50px;
}

/* Left side*/
/* Logo */
#logo{
    position:absolute;
    width: 200px;
    top: 5px;
    left: 3px;
}

.col_mid_6_left_side{
    width: 45%;
    float:left;
}

.col_mid_6_right_side{
    width: 55%;
    float: right;
}

/*background*/
#background_cartoon{
    position:absolute;
    top: 12%;
    left: 5%;
    height: 580px;
    width: 450px;
}

#background{
    position:absolute;
    top:0%;
    left: 0%;
    width: 45%;
    height: 95%;
    z-index: -10;

}

/*Right side*/
.container h1{
    text-align: center;
    margin-top: 75px;
}

/* input personal information (full name, email)*/ 
.input_item{   
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.input_underline{
    color: black;
    font-family: "Roboto-Regular";
    font-size: 20px;
    width: 35%;
    margin-right: 25px;
    margin-left: 50px;
}

.input_underline{
    border: none;
    border-bottom: 2px solid black;
    padding: 5px;
    outline: none;
    height: 45px;
    background-color: white;
}

.input_item #email{
    width:83%;
    margin-top: 30px;
}

.input_underline::after{
    content:"";
    display: block;
    border-bottom: 2px solid red;
    margin-top: -2px;
}

.container .col_mid_6_right_side .input_underline::placeholder{
    color: #9F9D9D;
}

/*select group*/
#group_options{
    color: black;
    font-family: "Roboto-Regular";
    font-size: 20px;
    width: 80%;
    margin-right: 25px;
    margin-left: 50px;
    margin-top: 60px;
    display: flex;
}

.input_item #group_options select{
    border: none;
    width: 35%;
    height: 32px;
    border-bottom: 2px solid #585151;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.input_item #group_options label{
    font-family: "Roboto-Regular";
    color: #585151;
    font-size: 20px;
    margin-right: 50px;
}

/*sign up button*/
.btn_sign_up{
    display: block;
    position:absolute;
    bottom: 25%;
    right: 23%;
    width: 150px;
    height: 40px;
    font-family: "Roboto-Regular";
    color: white;
    font-size: 24px;
    background-color: #DE0A3F;
    border: none;
    border-radius: 50px;

}

/*redirction to register page*/
.register a{
    font-size: 16px;
    color: #585151;
    font-family: "Roboto-Regular";
    margin-left: 35px;
}

.login a{
    font-size: 16px;
    color: #585151;
    font-family: "Roboto-Regular";
    margin-left: 80px;
}

.register{
    margin-left: 160px;
    position:absolute;
    bottom: 40%;
}

.login{
    margin-left: 160px;
    position:absolute;
    bottom: 15%;
}
/* Contact us */
#contact_us_icon{
    position:absolute;
    width: 100px;
    right: 5px;
    bottom: 5px;
}