<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
        <link rel="stylesheet" href="../Stylesheets/log_in.css"/>
        <script>
            import { createRoot } from 'react-dom/client';
    
            // 清除现有的 HTML 内容
            document.body.innerHTML = '<div id="app"></div>';
    
            // 渲染你的 React 组件
            const root = createRoot(document.getElementById('app'));
            root.render(<h1>Hello, world</h1>);
    
        </script>
</head>

<body>
    <div class="main">
        <img id="background" src="../Assets/Image/log_in_background.png" alt="Log in Background">
        <img id="logo" src="../Assets/Icon/Logo.png" alt="WeConnect Logo">

        <!-- Log in Box in the middle -->
        <div class = "container">
            <h1>Admin Log In</h1>

            <form action="/static/login/submit" method="post">
                <div class = "form_container">
                    <input class="input_item" type="email" name="email" placeholder="Enter your email">
                    <input class="input_item" type="password" name="password" placeholder="Enter your password ">
                </div>

                <a id="forgot_password" href="enteremail" target="_self">Forgot Password?</a>

                <button type="submit">Log In</button>
            </form>

            <div class="sign_up">New member? <a href="signin" target="_self">Sign up here</a></div>
        </div>

        <img id="contact_us_icon" src="../Assets/Icon/Contact_us.png" alt="Contact us icon">
    </div>

</body>

</html>