<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password New Password</title>
    <link rel="stylesheet" href="../../Stylesheets/account_manage.css"/>
</head>
<body>

    <div class="container">
        <img id="people_background" src="../../Assets/Image/people1_background.png" alt="People Background">
        <img id="light_background" src="../../Assets/Image/light_background.png" alt="Light Background">
        <img id="logo" src="../../Assets/Icon/Logo.png" alt="WeConnect Logo">

        <main>
            <h1>Forgot Password</h1>
            <p>Enter the new password you want to set below and re-enter the same password to confirm your new password. Then press next to complete the process.</p>

            <form method="post" action="">
                <div class="forgot_password_input">
                    <h2>New Password</h2>
                    <input class="input_item" type="password" name="new_password" placeholder="Enter your new password">
                    <h2>Confirm Password</h2>
                    <input class="input_item" type="password" name="confirm_password" placeholder="Confirm your new password">
                </div>

                <div class="two_buttons">
                    <button id='cancel_button' type="button" onclick="">Cancel</button>
                    <a href="../log_in.html"><button id='next_button' type="button">Next</button></a>
                </div>
            </form>
        </main>

        <img id="contact_us_icon" src="../../Assets/Icon/Contact_us.png" alt="Contact us icon">
    </div>
    
</body>
</html>