<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Instruction</title>
    <link rel="stylesheet" href="../../Stylesheets/account_manage.css"/>
</head>
<body>

    <div class="container">
        <img id="people_background" src="../../Assets/Image/people1_background.png" alt="People Background">
        <img id="light_background" src="../../Assets/Image/light_background.png" alt="Light Background">
        <img id="logo" src="../../Assets/Icon/Logo.png" alt="WeConnect Logo">

        <main>
            <h1>Thank you for your Sign Up!</h1>
            <p>Our website admin is working hard to review your sign up request. After the result come out, it will send to the email address you provided to us. Thank you for your patient waiting!</p>

            <a href="forgot_password_new_password.html"><button id='back_button' type="button">Back</button></a>
        </main>

        <img id="contact_us_icon" src="../../Assets/Icon/Contact_us.png" alt="Contact us icon">
    </div>
    
</body>
</html>