<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verify</title>
    <link rel="stylesheet" href="../../Stylesheets/account_manage.css"/>
</head>
<body>

    <div id="email_verify">
        <div class="container">
            <img id="people_background" src="../../Assets/Image/people1_background.png" alt="People Background">
            <img id="light_background" src="../../Assets/Image/light_background.png" alt="Light Background">
            <img id="logo" src="../../Assets/Icon/Logo.png" alt="WeConnect Logo">

            <main>
                <h1>Thank you for your Sign Up!</h1>
                <p> To keep the highest sercurity in our system, we kindly ask you to complete an email verification. 
                    <br><br>
                    There should be a link send to the email address you use to signed up. Complete the verification by simply click the link inside your email.
                </p>

                <h5>If you did not reveice the email after 1 minute, press the Back button go back to sign up page.</h5>

                <button id='cancel_button' type="button" onclick="">Back</button>
            </main>

            <img id="contact_us_icon" src="../../Assets/Icon/Contact_us.png" alt="Contact us icon">
        </div>
    </div>
    
</body>
</html>