<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Enter Email</title>
    <link rel="stylesheet" href="../../Stylesheets/account_manage.css"/>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
</head>
<body>
    <!-- <div id="background_template"></div> -->

    <div class="container">
        <img id="people_background" src="../../Assets/Image/people1_background.png" alt="People Background">
        <img id="light_background" src="../../Assets/Image/light_background.png" alt="Light Background">
        <img id="logo" src="../../Assets/Icon/Logo.png" alt="WeConnect Logo">

        <main>
            <h1>Forgot Password</h1>
            <p>Forgot password? Don’t Worry! You can simply enter your email address below and complete the email verification to setup a new password.</p>

            <form method="post" action="">
                <div class="forgot_email_input">
                    <input class="input_item" type="email" name="email" placeholder="Enter your email">
                </div>

                <div class="two_buttons">
                    <button id='cancel_button' type="button" onclick="cancelOperation()">Cancel</button>
                    <a href="emailverify"><button id='next_button' type="button">Next</button></a>
                </div>
            </form>
        </main>

        <img id="contact_us_icon" src="../../Assets/Icon/Contact_us.png" alt="Contact us icon">
    </div>
    <!-- Import the template into this page -->
    <!-- <script>
        $(function(){
            $(".background_template").load("background_template.html");
        });
        
    </script> -->
    
</body>
</html>