<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Email Verify</title>
    <link rel="stylesheet" href="../../Stylesheets/account_manage.css"/>
</head>
<body>

    <div class="container">
        <img id="people_background" src="../../Assets/Image/people1_background.png" alt="People Background">
        <img id="light_background" src="../../Assets/Image/light_background.png" alt="Light Background">
        <img id="logo" src="../../Assets/Icon/Logo.png" alt="WeConnect Logo">

        <main>
            <h1>Forgot Password</h1>
            <p>Press the button and an email will send to you with the verification code, enter the code below after you receive it. You would only receive the email if the email address has been signed up.</p>

            <form method="post" action="">
                <div class="forgot_code_input">
                    <input class="input_item" type="number" name="code" placeholder="Enter the code">
                    <button id='send_code_button' type="button" onclick="">Send Code</button>
                </div>

                <div class="two_buttons">
                    <button id='cancel_button' type="button" onclick="">Cancel</button>
                    <a href="newpassword"><button id='next_button' type="button">Next</button></a>
                </div>
            </form>
        </main>

        <img id="contact_us_icon" src="../../Assets/Icon/Contact_us.png" alt="Contact us icon">
    </div>
    
</body>
</html>