<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Email Verify</title>
    <link rel="stylesheet" href="../../Stylesheets/account_manage.css"/>
</head>
<body>

    <div id="forgot_email_verify">
        <div class="container">
            <img id="people_background" src="../../Assets/Image/people1_background.png" alt="People Background">
            <img id="light_background" src="../../Assets/Image/light_background.png" alt="Light Background">
            <img id="logo" src="../../Assets/Icon/Logo.png" alt="WeConnect Logo">

            <main>
                <h1>Forgot Password</h1>
                <p>There is an email that has been sent to the email address you provided. Please press the link to complete the verification.</p>

                <a href="enteremail"><button id='next_button' type="button">Cancel</button></a>
            </main>

            <img id="contact_us_icon" src="../../Assets/Icon/Contact_us.png" alt="Contact us icon">
        </div>
    </div>
    
</body>
</html>