<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organization Register Instruction</title>
    <link rel="stylesheet" href="../../Stylesheets/account_manage.css"/>
</head>
<body>

    <div id="organization_instruction">
        <div class="container">
            <img id="people_background" src="../../Assets/Image/people1_background.png" alt="People Background">
            <img id="light_background" src="../../Assets/Image/light_background.png" alt="Light Background">
            <img id="logo" src="../../Assets/Icon/Logo.png" alt="WeConnect Logo">

            <main>
                <h1>Organization/Group/Club Register Instruction</h1>
                <p>
                    Thank you for your instruction to the WeConnect Admin Management System!
                    <br><br>
                    Please send all the details including any supporting documents to the following email:
                    <br><br>
                    weconnect@volunteeringviatoria.org.au
                </p>

                <a href="signin"><button id='back_button' type="button">Back</button></a>
            </main>

            <img id="contact_us_icon" src="../../Assets/Icon/Contact_us.png" alt="Contact us icon">
        </div>
    </div>
    
</body>
</html>