/* CSS file for survey management page */

/* Import font */
@font-face {
    font-family: "Roboto-Bold";
    src: url('../Assets/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('../Assets/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../Assets/Roboto/Roboto-Regular.ttf');
}

/* Background */
.survey_management {
    background-image: url('../Assets/Image/survey_management_background.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 20%;
    height: 95vh;
    width: 100%;
    display: block;
    overflow: hidden;
}

/* Page Heading */
.survey_management .page_heading {
    margin: 5px 30px;
}

/* Sub Heading */
.sub_heading {
    margin: 10px 30px;
    height: 20px;
}

/* Division Line */
.survey_management .line {
    margin: 30px 30px 0px 30px;
    width: 90%; 
    height: 1px; 
    background-color: #CCCCCC; 
}

/* Remove the underline */
.no_underline {
    text-decoration: none;
}

/* Survey Main Page */
/* Body */
#survey_main {
    height:100vh;
    width: 90%;
    margin: 30px 30px 0px 30px;
    display: flex;
    justify-content: center; 
    padding: 0px;
}

.space {
    margin-left: 30px;
    width: 100px;
    height: 20px;
    display: block;
}

/* Container */
#survey_main .container {
    margin: 80px auto;
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

/* Inner Box */
#survey_main .innerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: white;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 3px 3px gray, -1px 3px 3px gray;
}

#survey_main .innerbox img {
    width: 250px;
    margin-top: 50px;
}

#survey_main .innerbox h2 {
    margin-top: 80px;
}

/* Survey Title Page */
/* Body */
#survey_title {
    height:100vh;
    width: 90%;
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0px;
}

#survey_title h2 {
    margin-top: 30px;
}

/* Container */
#survey_title .container {
    margin-top: 50px;
    width: 70%;
    height: 50vh;
}

#survey_title .container .row_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

#survey_title .container .row_box .button_box {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    border-width: 0px;
    box-shadow: 1px 3px 3px gray, -1px 3px 3px gray;
}

#survey_title .container .row_box .selectedButton {
    width: 150px;
    height: 150px;
    background-color: #FFE1E1;
    border-radius: 20px;
    border-width: 0px;
    box-shadow: 1px 3px 3px gray, -1px 3px 3px gray;
}

#survey_title .container .row_box img {
    width: 40%;
    margin-top: 20px;
}

/* Button down the bottom */
#survey_title .button_container {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#survey_title .button_container .button{
    width: 150px;
    height: 40px;
    background-color: #DE0A3F;
    border-radius: 20px;
    border-width: 0px;
    color: white;
    font-family: "Roboto-Medium";
    font-size: 16px;
    text-align: center;
}