/* Import font */
@font-face {
    font-family: "Roboto-Bold";
    src: url('../Assets/Roboto/Roboto-Bold.ttf');
}

/* CSS file for the navigation bar */
.navbar {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Remove the underline and dots for all Links */
.no_underline {
    text-decoration: none;
}

.navbar li {
    list-style-type: none;
    margin-bottom: 30px;
}

/* Text for selected page */
.navbar .selectedText {
    color: #DE0A3F;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto-Bold";
    font-size: 14px;
    text-align: center;
    width: 80px;
}

/* Text for unselected page */
.navbar .unselectedText {
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto-Bold";
    font-size: 14px;
    text-align: center;
    width: 80px;
}

/* Icon */
.navbar .icon {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}