/* CSS file for settings page */

/* Import font */
@font-face {
    font-family: "Roboto-Bold";
    src: url('../Assets/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('../Assets/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../Assets/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Cabin-Regular";
    src: url('../Assets/Cabin/static/Cabin-Regular.ttf');
}

/* Background */
#settings, #settings_change_password {
    background-image: url('../Assets/Image/settings_background.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 20%;
    height: 95vh;
    width: 100%;
    display: block;
    overflow: hidden;
}

/* Page Heading */
.page_heading {
    margin: 5px 30px;
}

/* Sub Heading */
.sub_heading {
    margin: 10px 30px;
    height: 20px;
}

/* Division Line */
.line {
    margin: 30px 30px 0px 30px;
    width: 90%; 
    height: 1.2px; 
    background-color: #CCCCCC; 
}

/* Remove the underline */
.no_underline {
    text-decoration: none;
}

.space {
    margin-left: 30px;
    width: 100px;
    height: 20px;
    display: block;
}

.warning {
    color: red;
    position: absolute;
}

/* Settings Page */
#settings .change_password_container {
    margin: 30px;
    padding: 30px;
    width: 90%; 
    height: 150px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#settings .change_password_container button {
    width: 200px;
    height: 40px;
    margin-left: 200px;
    background-color: white;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: #DE0A3F;
    color: #DE0A3F;
    font-family: "Roboto-Medium";
    font-size: 16px;
    text-align: center;
    z-index: 10;
}

#settings .change_profile_container {
    margin: 30px;
    padding: 30px;
    width: 90%; 
    box-sizing: border-box;
}

#settings .change_profile_container .profile_heading {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#settings .change_profile_container .profile_heading h2 {
    width: 200px;
}

#settings .change_profile_container .profile_heading button {
    border: none;
    font-family: "Roboto-Regular";
    font-size: 16px;
    text-decoration-line: underline;
    color: #DE0A3F;
    background-color: transparent;
    padding: 0px;
}

#settings .change_profile_container form {
    display: flex;
    align-items: center;
    width: 500px;
    flex-direction: row;
}

#settings .change_profile_container .text_container {
    display: flex;
    align-items: center;
    width: 600px;
    flex-direction: row;
}

#settings .change_profile_container .text_container .text {
    font-size: 20px;
}

#settings .change_profile_container h4 {
    width: 200px;
    font-family: "Cabin-Regular";
    font-size: 20px;
}

#settings .change_profile_container input {
    background-color: white;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    text-align: start;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    font-size: 16px;
}

#settings .change_profile_container .input_button {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 45px;
}

#settings .change_profile_container .input_button button {
    width: 120px;
    height: 35px;
    background-color: #DE0A3F;
    border-radius: 20px;
    border-width: 0px;
    color: white;
    font-family: "Roboto-Medium";
    font-size: 16px;
    text-align: center;
}

#settings .logout_container {
    margin: 30px;
    width: 85%;
    height: 80px;
}

#settings .logout_container .logout_button {
    display: block;
    margin: auto;
    width: 120px;
    height: 45px;
    background-color: #DE0A3F;
    border-radius: 20px;
    border-width: 0px;
    color: white;
    font-family: "Roboto-Medium";
    font-size: 16px;
    text-align: center;
    z-index: 10;
}

/* Change Password Page */
#settings_change_password .change_password_container {
    margin: 30px;
}

#settings_change_password .change_password_container .input_container {
    margin-bottom: 45px;
}

#settings_change_password .change_password_container .input_container h2 {
    font-size: 18px;
}

#settings_change_password .change_password_container .input_container input {
    background-color: white;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
    text-align: start;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    font-size: 16px;
}

#settings_change_password .change_password_container .input_container input::placeholder {
    color: #9F9D9D;
}

#settings_change_password .change_password_container .button_container{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#settings_change_password .change_password_container .button_container button{
    width: 120px;
    height: 35px;
    background-color: #DE0A3F;
    border-radius: 20px;
    border-width: 0px;
    color: white;
    font-family: "Roboto-Medium";
    font-size: 16px;
    text-align: center;
}

