/* CSS file for survey management page */

/* Import font */
@font-face {
    font-family: "Roboto-Bold";
    src: url('../Assets/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('../Assets/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../Assets/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Cabin-Regular";
    src: url('../Assets/Cabin/static/Cabin-Regular.ttf');
}

/* Background */
.survey_management {
    background-image: url('../Assets/Image/survey_management_background.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 20%;
    height: 95vh;
    width: 100%;
    display: block;
    overflow: hidden;
}

/* Page Heading */
.survey_management .page_heading {
    margin: 5px 30px;
}

/* Sub Heading */
.sub_heading {
    margin: 10px 30px;
    height: 20px;
}

/* Division Line */
.survey_management .line {
    margin: 30px 30px 0px 30px;
    width: 90%; 
    height: 1px; 
    background-color: #CCCCCC; 
}

/* Remove the underline */
.no_underline {
    text-decoration: none;
}

/* Body */
#survey_title, #survey_type, #survey_text, #survey_number, #survey_yesno, #survey_rating, #survey_drop_down, #survey_list {
    height:100vh;
    width: 90%;
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0px;
}

.survey_manage_instruction {
    margin-top: 30px;
}

/* Warning */
.warning {
    color: red;
}

/* Survey Main Page */
/* Body */
#survey_main {
    height:100vh;
    width: 90%;
    margin: 30px 30px 0px 30px;
    display: flex;
    justify-content: center; 
    padding: 0px;
}

.space {
    margin-left: 30px;
    width: 100px;
    height: 20px;
    display: block;
}

/* Container */
#survey_main .container {
    margin: 80px auto;
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

/* Inner Box */
#survey_main .innerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: white;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 3px 3px gray, -1px 3px 3px gray;
}

#survey_main .innerbox img {
    width: 250px;
    margin-top: 50px;
}

#survey_main .innerbox h2 {
    margin-top: 80px;
}

/* Survey Title and Survey Type Page */
/* Container */
#survey_title .container, #survey_type .container {
    margin-top: 50px;
    width: 70%;
    height: 50vh;
}

#survey_title .container .row_box, #survey_type .container .row_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

#survey_title .container .row_box .button_box, #survey_type .container .row_box .button_box {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    border-width: 0px;
    box-shadow: 1px 3px 3px gray, -1px 3px 3px gray;
}

#survey_title .container .row_box .selectedButton, #survey_type .container .row_box .selectedButton {
    width: 150px;
    height: 150px;
    background-color: #FFE1E1;
    border-radius: 20px;
    border-width: 0px;
    box-shadow: 1px 3px 3px gray, -1px 3px 3px gray;
}

#survey_title .container .row_box img, #survey_type .container .row_box img {
    width: 40%;
    margin-top: 20px;
}

/* Button down the bottom */
#survey_title .button_container, #survey_type .button_container {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#survey_title .button_container .button, #survey_type .button_container .button {
    width: 150px;
    height: 40px;
    background-color: #DE0A3F;
    border-radius: 20px;
    border-width: 0px;
    color: white;
    font-family: "Roboto-Medium";
    font-size: 16px;
    text-align: center;
}

#survey_title .warning, #survey_type .warning {
    color: red;
}

/* Survey Question Pages */
/* Container */
.question_container {
    margin-top: 15px;
    width: 70%;
    height: 65%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 2px lightgray, -1px 2px 2px lightgray;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}

.question_container .survey_manage_question_instruction {
    font-family: "Roboto-Medium";
    font-size: 16px;
    color: #52575C;
}

.question_container .input_question_text {
    background-color: white;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border-width: 1px;
    text-align: start;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    font-size: 16px;
}

.question_container .input_question_text::placeholder {
    color: #D9D9D9;
}

.question_container .button_container {
    display: flex;
    justify-content: space-between;
    width: 87%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    margin-bottom: 30px;
}

.question_container .button_container .button {
    width: 150px;
    height: 40px;
    background-color: #DE0A3F;
    border-radius: 20px;
    border-width: 0px;
    color: white;
    font-family: "Roboto-Medium";
    font-size: 16px;
    text-align: center;
}

/* Survey Rating Page */
.question_container .rate_representation{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 30px;
    height: 30px;
    align-items: center; 
}

.question_container .input_rate_representation{
    width: 100px;
    height: 30px;
    text-align: center;
}

.question_container .input_rate_representation::placeholder {
    color: #D9D9D9;
}

/* Survey Drop Down Page */
#survey_drop_down .input_drop_down {
    padding: 0px;
    width:200px;
    height: 220px;
    margin-top: 20px;
}

#survey_drop_down .input_drop_down .drop_down_list {
    background-color:#F8F8F8;
    padding: 0px;
    width:100%;
    height: 120px;
    overflow-y: scroll; 
    overflow-x: hidden; 
}

#survey_drop_down .input_drop_down .drop_down_list .item_box {
    padding: 0px;
    width:100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

#survey_drop_down .input_drop_down .drop_down_list .each_item {
    padding: 0px;
    width:100px;
    height: 35px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#survey_drop_down .input_drop_down .drop_down_list button {
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#survey_drop_down .input_drop_down .drop_down_list img {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#survey_drop_down .input_drop_down .drop_down_list::-webkit-scrollbar {
    width: 8px;
}

#survey_drop_down .input_drop_down .drop_down_list::-webkit-scrollbar-thumb {
    background-color: #9F9D9D;
    border-radius: 20px;
}


#survey_drop_down .add_item_box {
    padding: 0px;
    width:100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

#survey_drop_down .add_item_box .input_add_item {
    width: 100px;
    height: 30px;
    padding-left: 10px;
    font-family: "Roboto-Regular";
    font-size: 16px;
}

#survey_drop_down .add_item_box .input_add_item::placeholder {
    color: #D9D9D9;
}

#survey_drop_down .add_item_box button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
}

#survey_drop_down .add_item_box img {
    width: 30px;
}

/* Survey List Page */
#survey_list .button {
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: #DE0A3F;
    color: #DE0A3F;
    font-family: "Roboto-Medium";
    font-size: 16px;
    text-align: center;
    right: 0px;
    margin: 10px 150px 0px 0px;
    z-index: 10;
}

/* Survey Question Table Component */
#survey_question_table {
    width: 100%;
    height: 100vh;
}

#survey_question_table .header_table {
    width: 100%;
    table-layout: fixed;
    height: 50px;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}

#survey_question_table .content_container {
    width: 100%;
    height: 610px;
    overflow-y: scroll;
}

#survey_question_table .content_table{
    width: 100%;
    table-layout: fixed;
    height: 610px;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}

#survey_question_table .content_container::-webkit-scrollbar {
    width: 0px;
}

#survey_question_table tr {
    height: 50px;
}

#survey_question_table th {
    text-align: start;
    font-family: "Roboto-Bold";
    font-size: 18px;
    position: sticky;
    height: 50px;
    padding: 10px;
}

#survey_question_table td {
    text-align: start;
    font-family: "Cabin-Regular";
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}

#survey_question_table .content_container tr:nth-child(even) {
    background-color: rgba(255,255,255,80%);
}

#survey_question_table .content_container tr:nth-child(odd) {
    background-color: rgba(228,228,228,35%);
}

#survey_question_table tr td:first-child,
#survey_question_table tr th:first-child {
    padding-left: 50px;
}

#survey_question_table tr td:last-child,
#survey_question_table tr th:last-child {
    padding-right: 50px;
}

#survey_question_table .survey_list_button {
    border: none;
    background-color: transparent;
    z-index: 10;
}

#survey_question_table .survey_list_button img {
    width: 15px;
}

/* Set the width of each column */
#survey_question_table th:nth-child(1),
#survey_question_table td:nth-child(1) {
    width: 15%;
}

#survey_question_table th:nth-child(2),
#survey_question_table td:nth-child(2) {
    width: 15%;
}

#survey_question_table th:nth-child(3),
#survey_question_table td:nth-child(3) {
    width: 50%;
}

#survey_question_table th:nth-child(4),
#survey_question_table td:nth-child(4) {
    width: 4%;
}

#survey_question_table th:nth-child(5),
#survey_question_table td:nth-child(5) {
    width: 4%;
}